<div class="row spread-row">
  <div class="eight columns offset-by-two end">
    <div class="panel radius">
      <div class="row">
        <div class="wizard-bar">
        </div>
        <div class="wizard-bar completed" style="width:90%">
        </div>
        <div class="wizard-step completed" style="left:0%">
          <i class="icon-ok"></i>
        </div>
        <div class="wizard-step completed" style="left:30%">
          <i class="icon-ok"></i>
        </div>
        <div class="wizard-step completed" style="left:62%">
          3
        </div>
      </div>
      <div class="row spread-row">
        <div class="row">
          <div class="twelve columns">
            <p>
              What do your kids like to do?
            </p>
          </div>
        </div>

        <div class="row" ng-repeat="child in signup.children">
          <div class="panel ten columns offset-by-one end">
            <form class="interests">
              <label>{{child.firstName}}'s Interests</label>
              <select ng-multiple="true" ui-select2 ng-model="child.interests" class="interest-tags">
                <option ng-repeat="interest in interests" value="{{interest.id}}">{{interest.name}}</option>
              </select>
            </form>
          </div>
        </div>

        <div class="row spread-row">
          <div class="twelve columns">
            By clicking the 'Finish' button below you agree to use the Treehouse Tag service in accordance with our <a href="#/terms">Terms and Conditions</a>.

        <div class="row spread-row">
          <div class="three columns offset-by-nine">
            <a href="#/home" ng-click="createAccount()" class="radius button icon-button mobile-two">
              <i class="icon-ok"></i>
              Finish
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>